<div class="container">
  <div class="row">
    <div class="col-md-5 text-left">
　　  <h3><%= @worker.name %>さんのカレンダー</h3>
　　</div>
　　<div class="col-md-5 text-right mt-4">
　　  <%= link_to "日報一覧", admin_worker_path(@worker), class: "btn btn-md btn-info" %>
　　</div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= month_calendar events: @timecards do | date, timecard | %>
        <div class="text-left">
          <%= date.day %>
        </div>
        <% @total = [] %>
        <% timecard.each do | timecard | %>
        　<% if timecard.end_time.present? %>
            <% diff = timecard.end_time - timecard.start_time %>
            <% @total << diff %>
        　<% end %>
        <% end %>
        <% if @total.present? %>
          <div>
            <%= link_to @total = Time.at(@total.sum).utc.strftime('%R'), admin_daily_report_path(timecard[0].daily_report_id) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>