<div class="container">
  <div class="row">
    <div class="col-md-5 text-left">
　　  <h2><%= @daily_report.reported_date %><%= @daily_report.worker.name %> さんのtimecardリスト</h2>
　　</div>
　　<div class="col-md-3 text-left mt-5">
　　  <%= link_to "日報一覧", admin_worker_path(@daily_report.worker_id), class: "btn btn-md btn-info" %>
　　</div>
　　<div class="col-md-3 text-left mt-5">
　　  <%= link_to "カレンダー", admin_worker_calendar_path(@daily_report.worker.id), class: "btn btn-md btn-warning" %>
　　</div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="table-secondary w-20">開始時間</th>
            <th class="table-secondary w-20">終了時間</th>
            <th class="table-secondary w-25">Client名</th>
            <th class="table-secondary w-50">業務内容 / To Do</th>
            <th class="table-secondary w-25">メモ</th>
            <th class="table-secondary w-25">対応時間</th>
          </tr>
        </thead>
        <tbody>
          <% @timecards.each do |timecard| %>
            <tr>
              <td><%= l timecard.start_time, format: :short %></td>
              <td>
                <% if timecard.end_time.present? %>
                  <%= l timecard.end_time, format: :short %>
                <% else %>
                  ---
                <% end %>
              </td>
              <td>
                <% if timecard.client.present? %>
                  <%= timecard.client.name %>
                <% else %>
                  ---
                <% end %>
              </td>
              <td>
                <% if timecard.job.present? %>
                  <%= timecard.job.description %>
                <% elsif timecard.to_do.present? %>
                  <%= timecard.to_do.name %>
                <% else %>
                  ---
                <% end %>
              </td>
              <td>
                <% if timecard.memo.present? %>
                  <%= timecard.memo %>
                <% else %>
                  ---
                <% end %>
              </td>
              <td>
                <% if timecard.start_time.present? && timecard.end_time.present? %>
                <%= timecard.amount_of_time %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 text-right">
      <% if @comments.present? %>
        <% @comments.each do |comment| %>
          <%= comment.comment %>
          <%= link_to "削除", admin_daily_report_comment_path(comment.daily_report, comment), method: :delete, "data-confirm" => "本当に削除されますか？", class: "btn btn-sm btn-danger" %>
        <% end %>
      <% else %>
    　　  <%= form_with model: [@daily_report, @comment], url: admin_daily_report_comments_path(@daily_report.id), method: :post do |f| %>
    　　    <%= f.text_area :comment, rows: '5', placeholder: "コメントを入力" %>
    　　    <%= f.submit "コメント送信" %>
　　    <% end %>
　　  <% end %>
　　</div>
    <div class="col-md-5 text-right">
　　  <b>総時間</b>
　　  <%= @total %>
　　</div>
  </div>
</div>