<div class="container">
  <div class="row">
    <div class="col-md-2 text-left">
　　  <h4>従業員Top</h4>
　　</div>
　　<div class="col-md-7 text-center">
　　　<h1>ToDo</h1>
      <%= form_with model: @to_do do |f| %>
        <%= f.text_field :name %>
        <%= f.submit '追加' %>
      <% end %>
　　</div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-5">
      <h2>ToDoリスト</h2>
      <% @to_dos.each do |to_do| %>
      <table>
        <tr>
          <th><%= to_do.name %></th>
          <td>
            <%= form_with model: @to_do, url: to_dos_complete_path, method: :patch do |f| %>
              <%= f.hidden_field :is_completed, :value => true %>
              <%= f.hidden_field :to_do_id, :value => to_do.id %>
              <%= f.submit '完了' %>
            <% end %>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
    <div class="col-lg-6">
    </div>
  </div>
</div>