<div class="container">
  <div class="row">
    <div class="col-md-5 text-left">
　　  <h2><%= @daily_report.reported_date %>のtimecardリスト</h2>
　　</div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="table-secondary w-20">開始時間</th>
            <th class="table-secondary w-20">終了時間</th>
            <th class="table-secondary w-25">Client名</th>
            <th class="table-secondary w-50">業務内容 / To Do</th>
            <th class="table-secondary w-25">メモ</th>
            <th class="table-secondary w-25">対応時間</th>
          </tr>
        </thead>
        <tbody>
          <% @daily_report.timecards.each do |timecard| %>
            <tr>
              <td><%= l timecard.start_time, format: :short %></td>
              <td>
                <% if timecard.end_time.present? %>
                  <%= l timecard.end_time, format: :short %>
                <% else %>
                  ---
                <% end %>
              </td>
              <td>
                <% if timecard.client.present? %>
                  <%= timecard.client.name %>
                <% else %>
                  ---
                <% end %>
              </td>
              <td>
                <% if timecard.job.present? %>
                  <%= timecard.job.description %>
                <% elsif timecard.to_do.present? %>
                  <%= timecard.to_do.name %>
                <% else %>
                  ---
                <% end %>
              </td>
              <td>
                <% if timecard.memo.present? %>
                  <%= timecard.memo %>
                <% else %>
                  ---
                <% end %>
              </td>
              <td>
                <% if timecard.start_time.present? && timecard.end_time.present? %>
                <%= timecard.amount_of_time %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
　　  <h6>コメント</h6>
　　  <%= @daily_report.id %>
　　  <% @comments.each do |comment| %>
　　    <%= comment.comment %>
　　    <% if @notification.present? %>
    　　    <%= form_with model: @notification, url: notification_path(@notification), method: :patch do |f| %>
    　　      <%= f.hidden_field :is_checked, :value => true %>
    　　      <%= f.submit "確認", class: "btn btn-sm btn-success" %>
    　　    <% end %>
　　    <% end %>
　　  <% end %>
　　</div>
　</div>
  <div class="row">
    <div class="col-md-12 text-right">
　　  <h6>総時間</h6>
　　  <%= @total %>
　　</div>
  </div>
</div>