<div class="container">
  <div class="row">
    <div class="col-md-4 text-left">
　　  <h2>ToDo完了リスト</h2>
　　</div>
　　<div class="col-md-7 text-center">
　　　<h1>ToDo</h1>
      <%= form_with model: @to_do do |f| %>
        <%= f.text_field :name %>
        <%= f.submit '追加' %>
      <% end %>
　　</div>
  </div>
  <div class="row mt-5">
    <div class="col-md-7 text-center">
      <% @complete_to_dos.each do |to_do| %>
      <table>
        <tr>
          <th><%= to_do.completed_date %></th>
          <td><%= to_do.name %></td>
        </tr>
      </table>
      <% end %>
    </div>
    <div class="col-lg-6">
    </div>
  </div>
</div>
