<div class="container">
  <div class="bg-light p-1 text-bark bg-opacity-25"><%= flash[:notice] %></div>
  <div class="row">
    <div class="col-md-4 text-left">
　　  <h3><%= Date.current %> timecardリスト</h3>
　　</div>
　　<div class="col-md-5 text-left">
　　  <h3>ToDo</h3>
      <%= form_with model: @to_do do |f| %>
        <%= f.text_field :name %>
        <%= f.submit '追加', class: "btn btn-sm btn-info" %>
      <% end %>
　　</div>
    <div class="col-md-2 text-left mt-5">
　　  <%= link_to "比較", timecards_compare_path, class: "btn btn-md btn-warning" %>
　　</div>
  </div>
    <div class="row">
    <div class="col-md-11 text-right">
      <% if @daily_report.present? %>
        <% if @daily_report.is_reported? %>
        <% else %>
      　　  <%= form_with model: @daily_report, url: daily_reports_report_path, method: :patch do |f| %>
      　　    <%= f.hidden_field :is_reported, :value => true %>
      　　    <%= f.hidden_field :daily_report_id, :value => @daily_report.id %>
      　　    <%= f.submit '日報報告', "data-confirm" => "本当に報告されますか？", class: "btn btn-md btn-primary" %>
      　　  <% end %>
　      <% end %>
　　  <% end %>
　　</div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h3>ToDoリスト</h3>
      <% @to_dos.each do |to_do| %>
      <table>
        <tr>
          <th><%= to_do.name %></th>
          <td>
            <%= form_with model: @to_do, url: to_dos_complete_path, method: :patch do |f| %>
              <%= f.hidden_field :is_completed, :value => true %>
              <%= f.hidden_field :to_do_id, :value => to_do.id %>
              <%= f.submit '完了', class: "btn btn-sm btn-secondary" %>
            <% end %>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
    <div class="col-md-10 text-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="table-secondary w-20"></th>
            <th class="table-secondary w-20"></th>
            <th class="table-secondary w-20">開始時間</th>
            <th class="table-secondary w-20">終了時間</th>
            <th class="table-secondary w-25">Client名</th>
            <th class="table-secondary w-50">業務内容 / To Do</th>
            <th class="table-secondary w-25">メモ</th>
            <th class="table-secondary w-25">対応時間</th>
          </tr>
        </thead>
        <tbody>
          <% @timecards.each do |timecard| %>
            <tr>
              <td>
                <% if @daily_report.is_reported? %>
                  <p>-</p>
                <% else %>
                  <%= link_to "編集", edit_timecard_path(timecard.id), class: "btn btn-sm btn-success" %>
                <% end %>
              </td>
              <td>
                <% if @daily_report.is_reported? %>
                  <p>-</p>
                <% else %>
                  <%= link_to "削除", timecard_path(timecard.id), method: :delete, "data-confirm" => "本当に削除されますか？", class: "btn btn-sm btn-danger" %>
                <% end %>
              </td>
              <td><%= l timecard.start_time, format: :short %></td>
              <td>
                <% if timecard.end_time.present? %>
                  <%= l timecard.end_time, format: :short %>
                <% else %>
                  <%= form_with model: @timecard, url: timecards_finish_path, method: :patch do |f| %>
                    <%= f.time_field :end_time %>
                    <%= f.hidden_field :timecard_id, :value => timecard.id %>
                    <%= f.submit '終了' %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% if timecard.client.present? %>
                  <%= timecard.client.name %>
                <% else %>
                  ---
                <% end %>
              </td>
              <td>
                <% if timecard.job.present? %>
                  <%= timecard.job.description %>
                <% elsif timecard.to_do.present? %>
                  <%= timecard.to_do.name %>
                <% else %>
                  ---
                <% end %>
              </td>
              <td>
                <% if timecard.memo.present? %>
                  <%= timecard.memo %>
                <% else %>
                  ---
                <% end %>
              </td>
              <td>
                <% if timecard.start_time.present? && timecard.end_time.present? %>
                <%= timecard.amount_of_time %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
    <div class="row">
    <div class="col-md-12 text-right">
　　  <b>総時間</b>
　　  <b><%= @total %></b>
　　</div>
  </div>
</div>
