<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Log in</h2>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <%= form_with model: @worker, url: worker_session_path do |f| %>
        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br/>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <div class="actions mt-3">
          <%= f.submit "Log in", class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
　　　<h6>登録がお済みでない方</h6>
　　</div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-right">
      <%= link_to "こちら ", new_worker_registration_path %>から新規登録を行ってください。
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>


